
.main-contenaire {
    width: 500px;
}

.menu{

    background-color: #f6f6f6;
    border-radius: 20px;
    height: 1410px;
    
}
.cards-page1{
    margin-left: 30px;
    padding-top: 20px;
    h2{
        font-family: "shrikhand", sans-serif;
        margin-bottom: 40px;
    }
    p{
        font-family:"roboto", sans-serif;
    }
}
.card-menu{
    font-family: "roboto", sans-serif;
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding-left: 15px;
    height: 85px;
    background-color: white;
    width: 430px;
    margin-bottom: 15px;
   
   
    h3{
        margin-top: 5px;
        margin-bottom: 0;
    }

    P{
        margin-top: 5px;
    }
}
.p-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price{
   
    font-weight: 700;
}
.img-menu{
    
    max-width: 100%;
}
